<div class="exercises">
    <div class="page-title">
        {{t "exercisesPage.title"}}
    </div>

    <div class="navbar-section">
        {{navbar
            page=enums.pages.exercises}}
    </div>
</div>