<div class="measurements">
    <div class="page-title">
        {{t "measurementsPage.title"}}
    </div>

    <div class="navbar-section">
        {{navbar
            page=enums.pages.measurements}}
    </div>
</div>