<div class="profile">
    <div class="page-title">
        {{t "profilePage.title"}}
    </div>

    <div class="navbar-section">
        {{navbar
            page=enums.pages.profile}}
    </div>
</div>