<div class="profile">
    <div class="page-title">
        {{t "profilePage.title"}}
    </div>
    <a class="ui-primary-button" {{action "logOut"}}>LOGOUT</a>

    <div class="navbar-section">
        {{navbar
            page=enums.pages.profile}}
    </div>
</div>