$brand-error: #B00020;
$brand-primary: #3EBACC;




$background-color: #2C2F35;
$accent-background-color: #202225;
$delete-background-color: #824448;
$primary-text-color: #FFF;
$secondary-text-color: #656A6D;
$tertiary-text-color: #C0C2C3;
$disabled-text-color: #C0C2C3;
$delete-text-color: #EC4D5E;
$disabled-background-color:  #505659;
$primary-accent-color: #88bbf1;
$secondary-accent-color: #305C8E;
$success-color: #2DF17C;
$success-background: #15BB1529;