@import "ember-bootstrap/bootstrap";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "variables";

@import "common";
@import "helpers";
@import "routes";
@import "templates";

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

body > .ember-view {
    height: 100%;
}
