.home {
    background-color: $background-color;
    height: 100%;

    .page-data {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        height: calc(100% - 56px);

        .page-title {
            color: $primary-text-color;
            font-size: 32px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 30px;
        }

        .routines {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;

            .routine-text {
                color: $primary-text-color;
                font-size: 24px;
            }

            .row {
                margin-right: 0;
            }

            .add-routine {
                position: relative;

                .add-button {
                    bottom: 3px;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    .user-routines {
        overflow: auto;
        padding-left: 15px;
        padding-right: 15px;

        .workouts-in-progress-title {
            color: $primary-text-color;
            font-size: 16px;
            padding-left: 5px;
        }

        .workout-item {
            border: 2px solid $secondary-text-color;
            border-radius: 9px;
            box-sizing: border-box;
            display: inline-block;
            font-size: 16px;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: unset;

            .name {
                color: $primary-text-color;
            }

            .exercises {
                color: $secondary-text-color;
                font-size: 12px;
            }
        }
    }

    .navbar-section {
        bottom: 0;
        position: fixed;
        width: 100%;
    }
}