.workout-in-progress {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header-data {
        padding: 10px 20px 0px 20px;

        .rest-timer {
            background-color: $accent-background-color;
            border-radius: 5px;
            box-sizing: border-box;
            color: $primary-text-color;
            font-size: 16px;
            height: 30px;
            margin: 0;
            width: 90px;

            .progress-bar {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
                background-color: $primary-accent-color;
                transition: none;
            }

            .progress-bar-text {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.rest-timer-green {
                .progress-bar {
                    background-color: $success-color;
                }
            }
        }

        .timer {
            color: $secondary-text-color;
            font-size: 18px;
            font-weight: bold;
            padding-top: 3px;
            text-align: center;
        }

        .save-workout {
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            margin: 0;
            padding: 2px 15px;
        }

        .row {
            margin-bottom: 0;
        }
    }

    .divider {
        border: 1px;
        color: $secondary-text-color;
        margin: 10px 0;
    }

    .page-data {
        overflow: auto;
        padding: 10px 20px 20px 20px;

        .cancel-workout {
            display: inline-block;
            font-size: 20px;
            width: 100%;
        }
    }
}